<div class="chatContainer">
    <div class="card cardContainer">
        <div class="card-header">
            CHAT {{ currentUser }}
        </div>
        <div id="card-body" class="card-body">
            <div id="contenedorMensajes" class="contenedorMensajes h-100">
                <!--<div *ngFor="let msn of mensajes" class="enviado msj p-2">
                  <span></span>
                  <span></span>
                    <p>{{ msn.mensaje }}</p>
                </div>-->
      
                <div *ngFor="let msj of mensajes" class="chat-bubble-container"
                  [ngClass]="{ 'sender': msj.usuario === currentUser}">
                  <div class="chat-bubble" style="font-size: 16px;">
                      <span class="chat-user" style="font-size: 13px;">
                          {{ formatearUsuario(msj.usuario) }}
                      </span>
                      {{ msj.mensaje }}
                      <span class="chat-date"  style="font-size: 12px;">
                          {{ formatDateTime(msj.timespan.toString()) }}
                      </span>
                  </div>
                </div>
      
      
            </div>
        </div>
        <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
                <input type="text" class="form-control" placeholder="Ingrese mensaje..." [(ngModel)]="nuevoMensaje"  [ngModelOptions]="{standalone: true}">
                <div class="input-group-append" (click)="enviarMensaje()">
                    <img class="imgEnviar" src="assets/img/enviar.png" alt="" >
                </div>
            </form>
      </div>
</div>
