.caracteres {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 30px auto;
}

.caracter {
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
}

.keyboard {
    max-width: 480px;
    min-height: 250px;
    margin: 30px auto;
    height: 30%;
}

.keys {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.key-btn {
    border-radius: 4px;
    min-height: 36px;
    min-width: 36px;
    background-color: papayawhip;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.key-btn:hover {
    opacity: 0.7;
}

.key-btn--disabled {
    background-color: rgb(178, 178, 178);
    cursor: default;
}

.key-btn--disabled:hover {
    opacity: 1;
}

.ahorcadoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgb(217, 252, 179);
    padding-top: 40px;
}

.ahorcadoDisplay {
    text-align: center;
    height: 45%;
}

.erroresRestantes {
    margin-top: 15px;
}

.juegoTerminado {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}
