<div class="juegosContainer">
    <div class="juegosBotones">
        <div class="boton cartas">
            <img src="../../../assets/img/jugando-a-las-cartas.png" alt="" routerLink="/mayor-menor">
            <h1>Mayor o Menor</h1>
        </div>
        <div class="boton ahoracado">
            <img src="../../../assets/img/juego-del-ahorcado.png" alt="" routerLink="/ahorcado">
            <h1>Ahorcado</h1>
        </div>
        <div class="boton ahoracado">
            <img src="../../../assets/img/juego-preguntados.png" alt="" routerLink="/preguntados">
            <h1>Preguntados</h1>
        </div>
        <div class="boton ahoracado">
            <img src="../../../assets/img/juego-preguntados.png" alt="" routerLink="/pong">
            <h1>Pong</h1>
        </div>
    </div>
</div>
