<div class="bienvenido">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="titulo">
                    <h1 style="font-size: 100px; margin-top: 10%; margin-left: 5%;">Hola,</h1>
                    <img src="https://avatars.githubusercontent.com/u/48848540?v=4" alt="" width="250px" style="border-radius: 50%; margin-left: 15%; margin-top: 20px;">
                    <p class="datosPersonales">Mi nombre es Santiago Fossa</p>
                    <p class="datosPersonales">Curso: 4to B</p>
                  </div>
            </div>
            <div class="col-6 juegoElegidoContainer">
                <div class="juegoElegido">
                    <img src="https://4.bp.blogspot.com/-zfTxCRF9iOM/TbxrMpKLN8I/AAAAAAAAAHE/qyMyXtEuzas/s1600/pong.jpg" width="260px" alt="">
                    <p class="juegoTitulo">Pong (Solitario)</p>
                    <p class="juegoTexto">Pong es un juego de deportes en dos dimensiones que simula un tenis de mesa. El jugador controla en el juego las dos paleta moviéndola verticalmente. El objetivo es mantener las pelota sin que se vaya por los costados la mayor cantidad de tiempo posible.</p>
                    <p class="juegoTexto"><b>INSTRUCCIONES:</b> La paleta izquierda se mueve con la W y la S, la derecha con la P y la L</p>
                </div>
            </div>
        </div>
    </div>
  </div>